.App {
  margin: 1em 3em;
  text-align: center;
}

.Tower {
  font-size: 2em;
  display: inline;
  min-width: 20%;
  padding: 1em 0;
  text-align: center;
  border: 1px dashed green;
}

.Tower:hover {
  background-color: greenyellow;
  cursor: pointer;
}

.Tower.selected {
  background-color: lightgreen;
}

.HanoiTowers {
  display: flex;
  justify-content: space-around;
}