.App {
  margin: 1em 3em;
  text-align: center;
}

.Tower {
  font-size: 2em;
  display: flex;
  flex-direction: column-reverse;
  min-width: 15%;
  text-align: center;
  border-bottom: 5px solid grey;
  margin: 0 0.5em;
  min-height: 5em;
}

.Tower:hover {
  background-color: mintcream;
  cursor: pointer;
}

.Tower.selected {
  background-color: mintcream;
}

.HanoiTowers {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.plate {
  height: 0.5em;
  background-color: aquamarine;
  margin: 1px auto;
  border-radius: 10%;
}

.plate:last-child {
  margin-top: auto;
}